{% extends 'base.html' %}
{% block contents %}

  <form method="post">
    {% csrf_token %}
    {% comment %} {{form.as_p}} {% endcomment %}

    <!-- <p> <label for="id_name">Your Name:</label> <input type="text" name="name" maxlength="20" required="" id="id_name"> </p> -->


    <!-- form.as_p는 스타일링이 어렵기 때문에 직접 태그 작성 or 넘어온 폼을 태그 안에 넣어서 보여주기-->

    {% for field in form %}
    <div class="form-group">
      <label for="{{field.id_for_label}}">{{field.label}}</label>
      <input type="{{field.field.widget.input_type}}" class="form-control" id="{{field.id_for_label}}" Name="{{field.name}}" placeholder="{{field.label}}">
    </div>
    {% if field.errors %}
      {{field.errors}}
    {% endif %}
    {% endfor %}
    <div>
      <button type="submit" class="btn btn-primary">전송</button>
    </div>
  </form>
{% endblock contents %}
