@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.3/styles/atom-one-dark-reasonable.min.css";

pre[id^=code_] {
  position: relative;
}

pre[id^=code_]::after {
  content: attr(data-ke-language);
  position: absolute;
  bottom: 8px;
  right: 12px;
  color: #cfd2d1;
}

.hljs {
  display: flex !important;
  flex-direction: column;
  padding: 0 !important;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgb(0 0 0 / 40%);
  color: #cfd2d1;
  background-color: #343131;
  font-family: Menlo, Courier, monospace;
}

.hljs .line {
  counter-increment: line-idx;
  line-height: 1.5;
  margin: 2px 0;
}

.hljs .line:hover {
  backdrop-filter: brightness(0.92);
}

.hljs .line:hover::before {
  color: #cfd2d1;
}

.hljs .line::before {
  content: counter(line-idx);
  width: 24px;
  display: inline-block;
  text-align: right;
  margin-right: 16px;
  font-size: 0.8rem;
  color: #747A7A;
}

.hljs .code-header {
  display: flex !important; 
  align-items: center;
  padding: 14px;
  background-color: #434041;
  border-radius: 8px 8px 0 0;
}

.hljs .code-header .btn {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0 5px;
}

.hljs .code-header .btn.red {
  background-color: #F5655B;
}

.hljs .code-header .btn.yellow {
  background-color: #F6BD3B;
}

.hljs .code-header .btn.green {
  background-color: #43C645;
}

.hljs .code-body {
  max-height: 600px;
  margin: 24px 8px;
  overflow: auto;
}

.hljs .code-body::-webkit-scrollbar {
  width: 12px;
}

.hljs .code-body::-webkit-scrollbar-thumb {
  background-color: rgb(1 2 3 / 80%);
  border-radius: 4px;
}

.hljs .code-body::-webkit-scrollbar-corner {
  display: none;
}

.hljs .copy-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: .75rem;
  padding: 6px 0;
  width: 80px;