<div class="modal fade" tabindex="-1" id="imageModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="py-4 border-bottom text-center">
        <span class="h5">프로필 사진 변경</span>
      </div>
      <div class="pt-3 pb-2 border-bottom text-center">
        <span class="text-primary upload">
          <label for="file" class="btn-upload">프로필 사진 변경</label>
          <form action="" method="post" id="image_change">
            {% csrf_token %}
            <input type="file" name="file" id="file">
          </form>
        </span>
      </div>
      <div class="py-3 border-bottom text-center">
        <a href="" class="delete">
          <span class="text-danger">
            <strong>현재 사진 삭제</strong>
          </span>
        </a>
        <div class="py-3 text-center">
          <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
