{% extends 'base.html' %}
{% block contents %}

  <div class="container mx-auto px-5 pt-5">
    <div class="row">
      <div class="col-4">
        <h4 class='mb-1'>비밀번호 초기화</h4>
      </div>
      <div class="row mt-2">
        <p class="small">
          비밀번호를 잊어버렸나요 ? 이메일 주소를 아래에 입력하시면 새로운 비밀번호를 설정하는 절차를 이메일로 보내드리겠습니다.
        </p>
      </div>
    </div>

    <hr class="mt-1"/>
    {% if message %}
      <div class="alert alert-danger">
        {% for mag in message  %}
          <span>{{msg.message}}</span>
        {% endfor %}
      </div>
    {% endif %}
    <form action="" method='post'>
      {% csrf_token %}
      <div class="form-group mb-3">
        <label for="email" class='form-control'>이메일</label>
        <input type="email" name="email" id="email" class='form-control' placeholder='aaa@bbb.com' >
      </div>
      <div class="form-group mb-3">
        <button type="submit" class='btn btn-primary'>비밀번호 초기화</button>
      </div>
    </form>
  </div>
</div>

{% endblock contents %}
