{% extends 'base.html' %}
{% load humanize %}

{% block contents %}
  <div class="container mx-auto px-5">
    <h3>{{user}}'s Profile</h3>
    <h1 class='pb-3 border-bottom'>주문내역</h1>
    {% include 'form_errors.html' %}
    <form action="" method="post">
      {% csrf_token %}
      <table class="table table-hover table-bordered">
        <tbody>
          {% for order in user.order_set.all %}
            <tr>
              <td>{{order.shop.name}}</td>
              <td>
                {% for item in order.item_set.all %}
                  {{item.name}}
                {% endfor %}
              </td>
              <td>{{order.total|intcomma}}</td>
              <td>{{order.created_at}}</td>
            {% endfor %}
          </tbody>
        </table>

        <div class="col">
          <a href="{% url 'index'  %}" class="btn btn-info">list</a>
        </div>
      </form>
    </div>

  {% endblock contents %}
