{% extends 'base.html' %}
{% block contents %}
  <div class="row mx-auto px-5">
    <h1 class="pb-3 border-bottom">List</h1>
  </div>
  <div class="row mt-5">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일자</th>
        </tr>
      </thead>
      <tbody>
        <!-- 목록 나올 부분 -->
        {% for board in boards %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>
              <a href="{% url 'board_detail' board.pk %}">{{board.title}}</a>
            </td>
            <td>{{board.writer}}</td>
            <td>{{board.register_dttm}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- 페이지 처리 -->
  <div class="row mt-2">
    <div class="col 12">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if boards.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{boards.previous_page_number}}">Previous</a>
            </li>
          {% endif %}
          <li class="page-item">
            <a class="page-link" href="#">{{boards.number}}/{{boards.paginator.num_pages}}</a>
          </li>
          {% if  boards.has_next%}
            <li class="page-item">
              <a class="page-link" href="?page={{boards.next_page_number}}">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
  <div>
    <button class='btn btn-success'>글 작성</button>
  </div>

{% endblock contents %}
{% block script %}
  <script>
    document
      .querySelector(".btn-success")
      .addEventListener('click', () => {
        location.href = "{% url 'board_write' %}";
      });
  </script>
{% endblock script %}
