ul.list {
  /*블릿 기호제거 마진 패딩 0 보더 아래만*/
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}
.tab-button {
  padding: 10px, 20px;
  margin-right: -1px;
  margin-bottom: -1px;
  float: left;
  color: gray;
  cursor: pointer;
}
ul.list::after {
  content: "";
  display: block;
  clear: both;
}
.orange {
  margin-top: -2px;
  border-top: 2px solid orange;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: black;
}

.tab-content {
  display: none;
  padding: 10px;
}
.show {
  display: block;
}

.form-hide {
  display: none;
}
