<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">이태원 클라스</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          {% comment %} {% if user.is_authenticated %} {% endcomment %}
            <a class="nav-link active" aria-current="page" href="">로그아웃</a>
          {% comment %} {% else %} {% endcomment %}
            <a class="nav-link active" aria-current="page" href="">로그인</a>
          {% comment %} {% endif %} {% endcomment %}
        </li>
        <li class='nav-item'>
          <a class='nav-link' href="">회원가입</a>
        </li>
        {% if user.is_authenticated and user.is_superuser %}
          <li class='nav-item'>
            <a class='nav-link' href="">EDIT</a>
          </li>
        {% endif %}
        <li class='nav-item'>
          <a class='nav-link' href="{% url 'cart' %}">CART</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
