{% extends 'base.html' %}
{% load static %}
{% comment %} {% load socialaccount %} {% endcomment %}
{% block contents %}

  <div class="container mx-auto px-5 pt-5">
    <div class="row">
      <div class="col-4">
        <h4 class='mb-1'>로그인</h4>
      </div>
      <div class="col-8 text-end">
        <span>또는
          <a href="{% url 'register' %}">회원가입</a>
        </span>
        <span>또는
          <a href="">비밀번호 초기화</a>
        </span>

      </div>
    </div>

    {% include 'form_errors.html' %}
    <form action="" method='post'>
      {% csrf_token %}
      <div class="form-group mb-3">
        <label for="username" class='form-label'>아이뒤</label>
        <input type="text" name="username" id="username" class='form-control' placeholder='Enter username'>
      </div>
      <div class="form-group mb-3">
        <label for="password" class='form-label'>비번</label>
        <input type="password" name="password" id="password" class='form-control' placeholder='Enter password'>
      </div>
      <div class="form-group mb-3">
        <button type="submit" class='btn btn-primary'>로그인</button>
      </div>
      <hr>
    </form>
      <div class="text-muted my-3">
    <small>구글 또는 카카오 로그인</small>
  </div>
    <a href=""><img src="{% static 'images/google.png' %}" alt="구글"></a>
    <a href=""><img src="{% static 'images/kakao.png' %}" alt="카카오"></a>
  </div>
</div>

{% endblock contents %}
