{% extends 'base.html' %}
{% block contents %}
  <div class="container my-3">
    <h2 class="border-bottom py-2">
      <!--질문제목-->
      {{question.title}}
    </h2>
    <div class="card my-3">
      <div class="card-body">
        <div class="card-text" style="white-space: pre-line">
          <!--질문내용-->
          {{question.content}}
        </div>
        <div class="d-flex justify-content-end">
          <div class="badge bg-dark p-2">
            <!--작성자-->
            <div class="mb-2">{{question.author.username}}</div>
            <!--질문작성날짜-->
            {{question.created_at}}
          </div>
        </div>
        <!-- 로그인 사용자와 글쓴이가 같다면 -->
        {% if question.author == request.user %}
          <div class="my-3">
            <a href="{% url 'question_update' question.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
            <a href="#" class="btn btn-sm btn-outline-danger" data-uri='{% url 'question_delete' question.id %}'>삭제</a>
          {% endif %}
          <a href="{% url 'index' %}" class="btn btn-sm btn-outline-secondary">리스트</a>
        </div>
      </div>
    </div>
    <!--답변영역시작-->
    <h5 class="border-bottom my-3">
      <!--답변개수-->
      {{question.answer_set.count}}
      개의 답변이 있습니다.
    </h5>
    <div class="col-11">
      {% for answer in question.answer_set.all %}
        <div class="card my-3">
          <div class="card-body">
            <div class="card-text" style="white-space: pre-line">
              <!--답변내용-->
              {{answer.content}}
            </div>
            <div class="d-flex justify-content-end">
              <div class="badge bg-dark p-2">
                <!--작성자-->
                <div class="mb-2 text-start">{{answer.author.username}}</div>
                <!--답변작성날짜-->
                {{answer.created_at}}
              </div>
            </div>
            <!-- 로그인 사용자와 글쓴이가 같다면 -->
            <div class="my-3">
              {% if answer.author == request.user %}
                <a href="{% url 'answer_update' answer.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="btn btn-sm btn-outline-danger" id='answerdelete' data-uri='{% url 'answer_delete' answer.id %}'>삭제</a>
              {% endif %}
              <a href="" class="btn btn-sm btn-outline-secondary">리스트</a>
            </div>
          </div>
        </div>
        <!--답변방식-->
      {% endfor %}
      {% include 'form_errors.html' %}
      <form action="{% url 'answer_create' question.pk %}" method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
          <textarea name="content" id="content" rows="10" class="form-control" {% if not user.is_authenticated %} disabled="disabled" {% endif %}></textarea>
        </div>
        <button type="submit" class="btn btn-primary">답변등록</button>
      </form>
    </div>
    <!--답변내용전송-->
  </div>
{% endblock contents %}
{% block script %}
  <script>
    /*
  // 질문(답변) 삭제 =============
  let elements = document.querySelectorAll(".btn-outline-danger");

  elements.forEach((ele, idx) => {
    ele.addEventListener("click", (e) => {
      // confirm() : 확인을 클릭하면, data-uri 값을 가지고 오기, localtion.href = 가져온 data-uri 대입

      if (confirm("정말로 삭제하시겠습니까?")){

        //console.log("경로", e,target.dataset.uri);
        location.href = e.target.dataset.uri;
      };
    });
  });
  */

    /* jQuery */
    $(function () {
      $(".btn-outline-danger").on("click", function (e) {
        if (confirm("정말로 삭제하시겠습니까?")) {
          location.href = $(this).data("uri");

        }
      })
    })

    $(function () {
      $("#answerdelete").on("click", function (e) {
        if (confirm("정말로 삭제하시겠습니까?")) {
          location.href = $(this).data("uri");

        }
      })
    })
  </script>
{% endblock script %}
