{% extends 'base.html' %}
{% block contents %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class='border-bottom pd-2'>
          {{post.title}}
        </h3>
        <div class="col-12">

          {% if post.image %}
            <img src="{{post.image.url}}" alt="" class='mx-auto d-block'>
          {% endif %}
        </div>
        <div class="col-12">
          <p>{{post.content}}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header comment-header">
          <i class='fas fa-comments'></i>
          <span class='small'>Comment</span>
        </div>
        {% if post.comment_set.count > 0 %}
          {% for comment in post.comment_set.all%}
            <div class="card-body">
              <div class="card-title">
                {{comment.content}}
              </div>
              <div class="d-flex justify-content-end p-2 comment bg-light">
                <div>{{comment.user.email}}</div>
                <div>({{comment.created_at}})</div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <textarea type="content" name="content" id="content" rows='7' class='form-control' value=''></textarea>
    </div>
    <div class="form-group my-3">
      <button class='btn btn-primary' type='submit'>댓글작성</button>
    </div>
    <input type="hidden" name='post_id' value='{{post.pk}}'>
  </div>
{% endblock contents %}