{% extends 'base.html' %}
{% block contents %}
  <div class="container">
    {% include 'form_errors.html' %}
    <!-- 폼 요소에 type='file' 포함이 되어 잇다면 form enctype(인코딩 타입) 속성 필요함 -->
    <form method="post" class='col-lg-8 col-md-10 mx-auto' enctype='multipart/form-data'>
      {% csrf_token %}
      <div class="form-group">
        <label for="title" class='form-label'>제목</label>
        <input type="text" name="title" id="title" class='form-control' value=''>
      </div>
      <div class="form-group">
        <label for="content" class='form-label'>내용</label>
        <textarea type="content" name="content" id="content" rows='7' class='form-control' value=''></textarea>
        <div class="form-group">
          <label for="image" class='form-label'>사진첨부</label>
          <input type="file" name="image" id="image" class='form-control' value=''>
        </div>
        <div class="form-group my-3">
          <button class='btn btn-primary' type='submit'>글쓰기</button>
        </div>
      </form>
    </div>

  {% endblock contents %}
