{% extends 'base.html' %}
{% block contents %}
  {% block style %}
    <style>
      .category-image {
        width: 300px;
        height: 300px;
      }

      .category-image > img {
        margin-left: 70px;
        width: 85%;
        height: 85%;
      }

      a.text-white {
        text-decoration: none;
      }
    </style>
  {% endblock style %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Hello Collections</h1>
        <hr>
        <div class="row">
          {% for item in category %}
            <div class="col-md-4">
              <div class="card mt-2">
                <a href="{% url 'collectionsview' item.slug %}">
                  <div class="card-body">
                    <div class="category-image">
                      <img src="{{item.image.url}}" alt="Category image" class='w-100'>
                    </div>
                    <h4 class='text-center'>{{item.name}}</h4>
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>

    </div>
  </div>

{% endblock contents %}
