{% extends 'base.html' %}

{% block contents %}
  {% include 'form_errors.html' %}
  <form action="" method='post'>
    {% csrf_token %}
    <div class="form-group mb-3">
      <label for="code">Code</label>
      <input type="text" name='code' id='code' class='form-control' value='{{form.code.value}}' readonly='readonly'>
    </div>
    <div class="form-group mb-3">
      <label for="author">Author</label>
      <input type="text" name='author' id='author' class='form-control' value='{{form.author.value}}' readonly='readonly'>
    </div>
    <div class="form-group mb-3">
      <label for="title">Title</label>
      <input type="text" name='title' id='title' class='form-control' value='{{form.title.value}}' readonly='readonly'>
    </div>
    <div class="form-group mb-3">
      <label for="price">Price</label>
      <input type="text" name='price' id='price' class='form-control' value='{{form.price.value}}'>
    </div>

    <div class="form-group mb-3">
      {% if user.is_authenticated and user.is_superuser %}
        <button type="submit" class='btn btn-success'>수정</button>
        <button type="submit" class='btn btn-danger'>삭제</button>
      {% endif %}
      <button type="submit" class='btn btn-primary'>리스트</button>
    </div>
  </form>

{% endblock contents %}

{% block script %}

  <script>
    document
      .querySelector(".btn-primary")
      .addEventListener('click', (e) => {
        e.preventDefault(); // submit 기능 중지
        location.href = "{% url 'list' %}";
      });
  </script>
  <script>
    document
      .querySelector(".btn-danger")
      .addEventListener('click', (e) => {
        e.preventDefault(); // submit 기능 중지
        location.href = "{% url 'remove' pk=form.code.value %}";
      });
  </script>

{% endblock script %}